{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-param-reassign": [2, {"props": false}],
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "no-underscore-dangle": 0
  }
}